 <div class="user-details">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
</div>
  
  <div class="user">
    <div class="tech">
      <h2>Solvers</h2>
      <img alt="gurobi" src="/assets/img/gurobi.png" width=100 height=60/>
      <img alt="cplex" src="/assets/img/cplex.jpg" width=80 height=70/>
      <img alt="xpress" src="/assets/img/ficoXpress.jpg" width=80 height=80/>
      <!--
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      -->
      <p></p>
    </div>
    
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-sql-plain"></i>
      <i class="devicon-python-plain"></i>
      <i class="devicon-javascript-plain"></i>
      <p></p>
    </div>
    
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-github-original"></i>
      <img alt="sublime-text" src="/assets/img/sublime-text.svg" width=80 height=80/>
      <p></p>
    </div>
  
</div>
