<div class="user-details">
  <h1> Projects (TO BE POSTED) </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="quiclusters" src="{{ "/assets/img/quiclusters.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Quiclusters </h3>
    <ul>
      <li> Minimum Spanning Tree</li>
      <li> Kruskal's Algorithm</li>
      <li> Graph Theory</li>
    </ul>
    <p>A modified Kruskal's algorithm for finding clusters or forest of trees from graph with potential limitations on total tree arc weight and total node weights in clusters.</p>
    <a class="project-link" href="https://github.com/ayushjain1594/quicluster">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="localsearchtsp" src="{{ "/assets/img/localsearchtsp.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Local Search TSP </h3>
    <ul>
      <li> Local Search Algorithms</li>
      <li> Graph Theory</li>
      <li> 2 OPT, 3 OPT Algorithms</li>
    </ul>
    <p>Local search algorithms for solving famous traveling salesman problem yielding suboptimal solution relatively quickly compared to exact approaches.</p>
    <a class="project-link" href="https://github.com/ayushjain1594/localsearchtsp">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="localfacilitylocation" src="{{ "/assets/img/localfacilitylocation.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Local Facility Location </h3>
    <ul>
      <li> Network Optimization</li>
      <li> Capacity Expansion</li>
      <li> Scenario Analysis</li>
    </ul>
    <p>A case study exploring capacity expansion options for a fulfillment style distribution system with limited geographic scope. The study compares cost and service based metrics solving as far as delivery routing.</p>
    <a class="project-link" href="https://github.com/ayushjain1594/localfacilitylocation">Check it out</a>
  </div>
</div>