<div class="user-details">
  <h1> Projects (TO BE POSTED) </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="quiclusters" src="{{ "/assets/img/quiclusters.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Quiclusters </h3>
    <ul>
      <li> Minimum Spanning Tree</li>
      <li> Kruskal's Algorithm</li>
      <li> Graph Theory</li>
    </ul>
    <p>A modified Kruskal's algorithm for finding clusters or forest of trees from graph with potential limitations on total tree arc weight and total node weights in clusters.</p>
    <a class="project-link" href="https://github.com/ayushjain1594/quicluster">Check it out</a>
  </div>
</div>
<!--
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
-->